<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>游戏html5</title>
  <link rel="stylesheet" href="css/default.css">
</head>
<body class="bodyDefault">
<h4 class="h4">致亲爱的黑客</h4>
<p class="p">远离孤独，社交让我们遇见了彼此生命的交集！</p> 
<p class="p">2018-02-02&nbsp;&nbsp;15:20:30</p>
<div class="txt_right href"><a href=""><img src="img/right@2x.png" />&nbsp;进入刷脸</a></div>
<i class="icon01 iconCircle"></i>
<i class="icon02 iconCircle"></i>
<i class="icon03 iconCircle"></i>
<i class="icon04 iconCircle"></i>
<i class="icon05"><img src="img/1@2x.png" /></i>
</body>
</html>