<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>The One</title>
  <link rel="stylesheet" href="__CSS__/default.css">
</head>
<body class="bodyDefault">
<h4 class="h4 title1">致亲爱的黑客</h4>
<p class="p_one">远离孤独社交,让我们遇见彼此生命的交集！</p> 
<p class="p_two">{$date}&nbsp;&nbsp;{$time}</p>
<div class="txt_right href"><a href="{$url}"><img src="__IMG__/right@2x.png" />&nbsp;开始行动</a></div>
<i class="icon01 iconCircle"></i>
<i class="icon02 iconCircle"></i>
<i class="icon03 iconCircle"></i>
<i class="icon04 iconCircle"></i>
<i class="icon05"><img src="__IMG__/1@2x.png" /></i>
</body>
</html>