<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>游戏html5</title>
  <link rel="stylesheet" href="css/default.css">
</head>
<body class="bodyDefault bodyDefault02">
<i class="icon01 iconCircle"></i>
<i class="icon02 iconCircle"></i>
<i class="icon03 iconCircle"></i>
<i class="icon04 iconCircle"></i>
<i class="icon05"><img src="img/2@2x.png" /></i>
<h4 class="h4">制作独一无二的名片</h4>
<div class="form">
  <div class="item clearfix">
    <label class="float_l"><img src="img/code@1x.png" /></label>
    <div class="inputBox float_l"><input type="text" class="inputText" /></div>
  </div>
  <div class="item clearfix">
      <label class="float_l"><img src="img/code@1x.png" /></label>
      <div class="inputBox float_l"><input type="text" class="inputText" /></div>
  </div>
  <div class="item clearfix">
      <label class="float_l"><img src="img/code@1x.png" /></label>
      <div class="float_l">
        <span class="uploadBoxs"><img src="img/code@1x.png" /><br/>识别人像</span>
      </div>
  </div>
  <div class="item clearfix">
      <label class="float_l"><img src="img/code@1x.png" /></label>
      <div class="float_l">
        <span class="uploadBoxs"><img src="img/code@1x.png" /><br/>上传二维码</span>
      </div>
  </div>
    
  
</div>
<div class="txt_center form-button"><button class="submit">确认与会</button></div>

</body>
</html>