<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>The One</title>
  <link rel="stylesheet" href="__LAYUI__/css/layui.css">
  <link rel="stylesheet" href="__CSS__/default.css">
  <script src="__JS__/jquery-2.1.3.min.js"></script>
  <script src="__LAYUI__/layui.js"></script>
</head>
<body class="bodyDefault bodyDefault02">
<i class="icon01 iconCircle"></i>
<i class="icon02 iconCircle"></i>
<i class="icon03 iconCircle"></i>
<i class="icon04 iconCircle"></i>
<i class="icon05"><img src="__IMG__/2@2x.png" /></i>
<h4 class="h4 title2">制作您的专属名片</h4>

<form method="POST" enctype="multipart/form-data">
  <div class="form">
    <div class="item clearfix">
      <label class="float_l"><img src="__IMG__/name@2x.png" /></label>
      <div class="inputBox float_l"><input type="text" class="inputText" name="name" placeholder="姓名" /></div>
    </div>
    <div class="item clearfix">
        <label class="float_l"><img src="__IMG__/tel@2x.png" /></label>
        <div class="inputBox float_l"><input type="text" class="inputText" name="telephone" placeholder="电话" /></div>
    </div>
    <div class="item clearfix">
        <label class="float_l"><img src="__IMG__/scan@2x.png" /></label>
        <div class="float_l layui-upload" >
             <!-- <span class="uploadBoxs"> -->
              <img src="__IMG__/scan1@2x.png" id="test1" style="width:150px;"/>
              <input type="hidden" name="faceImage" id="faceImage"/>
              <!-- </span> -->
        </div>
    </div>
    <div class="item clearfix">
        <label class="float_l"><img src="__IMG__/code@2x.png" /></label>
        <div class="float_l layui-upload">
          <!-- <span class="uploadBoxs"> -->
            <img src="__IMG__/upload@2x.png"  id="test2" style="width:150px;"/><br/>
            <input type="hidden" name="code" id="code"/>
          <!-- </span> -->
        </div>
    </div>
  </div>
  <div class="txt_center form-button"><button class="submit" onclick="save(this);return false;">制作名片</button></div>
</form>

<script type="text/javascript">
layui.use('upload', function(){
  var $ = layui.jquery,upload = layui.upload;
  var uploadInst = upload.render({
     elem: '#test1'
    ,url: "{:U('upload')}"
    ,multiple: false
    ,method: 'post'
    ,done: function(res){
      if(res.status != 1){
         return layer.msg(res.info);
      }
      $('#test1').attr('src',res.url);
      $('#faceImage').val(res.url);
    }
    ,error: function(res){
      return layer.msg(res);
    }
  });
  var uploadInst = upload.render({
     elem: '#test2'
    ,url: "{:U('upload')}"
    ,multiple: false
    ,method: 'post'
    ,done: function(res){
      if(res.status != 1){
         return layer.msg(res.info);
      }
      $('#test2').attr('src',res.url);
      $('#code').val(res.url);
    }
    ,error: function(res){
      return layer.msg(res);
    }
  });
});

function save(e) {
  var name = $('input[name="name"]').val();
  console.info(name);
  if(!name) {
    layer.msg('请填写姓名');return false;
  }

  var telephone = $('input[name="telephone"]').val();
    console.info(telephone);
  if(!telephone) {
    layer.msg('请填写电话'); return false;
  }

  var faceImage = $('input[name="faceImage"]').val();
     console.info(faceImage);
  if(!faceImage) {
    layer.msg('请人脸识别');
    return false;
  }

   var form = $('form').serialize();
   $.post("{:U('register')}",form,function(res){
      if(res && res.status == 1){
        location.href = res.url;
      }else{
        layer.msg(res.info);
      }
      return false;
   });
}
</script>
</body>
</html>